.heading {
    font-size: 32px;
    font-weight: bold;

    margin-bottom: 20px;
}

.list {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */

    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 20px;
}

@media (max-width: 1440px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1200px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 830px) {
    .list {
        grid-template-columns: repeat(1, 1fr);
    }
}
